<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<title>Welcome</title>

<script type="text/javascript">
let user = sessionStorage.getItem("user")

if( user ==  null){
	createUser
}
function createUser() {
	var username = prompt("Enter Your Name")
	var user = {
		name: username,
		channels: [],
		messages: []
	}
	
	fetch("/user", {
		method: "POST",
		headers: {
			"Content-Type": "application/json"
		},
		body: JSON.stringify(user)
	}).then(response=> response.json()).then(user => sessionStorage.setItem('user', JSON.stringify(user)))
	}

</script>
</head>
<body>
<h2>Join A Channel</h2>

<!-- <div > -->
<!-- <span th:text="${user.name}"></span> -->
<!-- </div> -->
<div th:each="channel : ${channels}">
		<a th:href="@{/channels/{channelId}(channelId=${channel.channelId})}"
		   th:text="${channel.channelName}"></a>
</div>
<hr>
<form action="/welcome/create" method="post" >


				<div>
				Create new Channel: <input type="text" th:field="${channel.channelName}" />
			</div>
			<div>
				<input type="submit" value="Create Channel" />
			</div>

</form>
<script type="text/javascript" src="/js/welcome.js"></script>
</body>
</html>